.circle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.big-circle {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    border-radius: 25%;
    margin-left: 10px;
}

.small-circle {
    width: 15px;
    height: 15px;
    background-color: #a4c5ed;
    border-radius: 25%;
}

:root {
    --player-size: 45px;
}

.player-container {
    position: relative;
    width: var(--player-size);
    height: var(--player-size);
}

.player {
    width: var(--player-size);
    height: var(--player-size);
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: calc(var(--player-size) / 3);
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--player-size);
    height: var(--player-size);
    background-color: rgba(0, 255, 0, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: pulseAnimation 1.5s ease-out infinite;
}

@keyframes pulseAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.7;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}